[ req ]
distinguished_name	= req_distinguished_name
attributes		= req_attributes

[ req_distinguished_name ]
countryName = TH
stateOrProvinceName = Bangkok
localityName = Lat Krabang
organizationName = WP63
organizationalUnitName = WP63 Development Team

[ req_attributes ]
challengePassword		= A challenge password
challengePassword_min		= 4
challengePassword_max		= 20

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = ${ENV::VVV_SSL_SAN}

[ SAN ]
subjectAltName = ${ENV::VVV_SSL_SAN}
